body {
    background-color: #f3f3f3;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 87vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 0 60px 0;
}

.logo {
    box-sizing: border-box;
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-list ul , li {
    gap: 50px;
    display: flex;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-list ul li:hover{
    border-radius: 12px;
    background-color: rgb(212, 212, 211);
    padding: 5px 10px;
    transition: 0.4s all ease;
}

.btn button  {
    padding: 15px 25px;
    border-radius: 7px;
    border-color: rgb(157, 177, 170);
    font-size: 18px;
    cursor: pointer;
}

.btn button:hover {
    background-color: #b8ff60;
    color: #111;
    border-radius: 14px;
    transition: 0.5s all ease;
}

.hero-section {
    width: 87vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.hero-child1 {
    width: 36%;
}

.hero-child1 h1 {
    line-height: 65px;
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 32px;
}

.hero-child1 p {
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 32px;
}

.hero-child1 button {
    font-size: 18px;
    background-color: #161616;
    border-radius: 8px;
    border: none;
    color: #f3f3f3;
    padding: 20px 35px;
    cursor: pointer;
}

.hero-child1 button:hover {
    background-color: #000;
    border-radius: 16px;
    transition: 0.5s all ease;
}

.web-links {
    width: 87vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.web-links img {
    width: 160px;
    height: 90px;
}
